/DZRacing.xcodeproj/xcuserdata/aleksejganzickij.xcuserdatad/xcschemes/xcschememanagement.plist
/DZRacing.xcodeproj/xcuserdata/aleksejganzickij.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/DZRacing.xcodeproj/xcshareddata/xcschemes/DZRacing.xcscheme
/DZRacing.xcodeproj/project.xcworkspace/xcuserdata/aleksejganzickij.xcuserdatad/UserInterfaceState.xcuserstate
/DZRacing.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/DZRacing.xcodeproj/project.xcworkspace/contents.xcworkspacedata
